<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621680553614-kcfd0k448ks3e9ekhhh6i1qj2sr9jro6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621680553614-kcfd0k448ks3e9ekhhh6i1qj2sr9jro6</string>
	<key>API_KEY</key>
	<string>AIzaSyAsR8W_XQmM7ZbPJZ0eZu_3hJ2RA5uHVQk</string>
	<key>GCM_SENDER_ID</key>
	<string>621680553614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acsenstiontaxcampanytaxcalculators</string>
	<key>PROJECT_ID</key>
	<string>ascensiontaxcalculaton</string>
	<key>STORAGE_BUCKET</key>
	<string>ascensiontaxcalculaton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621680553614:ios:8c20c5c84916035c19a3df</string>
</dict>
</plist>